/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.black{
  color: #000;
}
.white, .mat-header-cell {
  color: #fff;
}
.backgroundwhite,.backgroundwhite mat-dialog-container {
  background: #fff !important;
}
