<!-- my-table.component.html -->

<section *ngIf="gettingData" >
  <mat-spinner  style="margin:auto;" [diameter]="200" [strokeWidth]="3" color="primary"></mat-spinner>
</section>
<section *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource">

    <!-- Column definitions -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="" (click)="editItem(element)">Edit</button>
        <button mat-button color="warn" (click)="deleteItem(element)">Delete</button>
      </td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</section>
